body{
    background-color: wheat;
}

.Cointainer{
    width: 500px;
    height: 200px;
    background-color: white;
    padding: 10px;
    margin: 20px;
    border: 10px solid slategrey;
    
    display: -webkit-flex;/*safari y chrome*/
    display: -ms-flexbox;/* IE*/
    display: flex;/*que sea una caja en linea flexible*/

    justify-content: space-between;
    /* flex-direction: row | column | row-reverse | column-reverse ; */
    /* flex-wrap: no-wrap | wrap | wrap-reverse; */
    /* justify-content: flex-end | flex-start | center | space-around | space-between ;*/
    /* align-items: flex-start | flex-end | center | stretch: 100% del contenedor | baseline; */
    /* align-content: flex-start | flex-end | center | stretch | space-between | space-around ;*/
    /* justify-content: center; */
    /* align-items: center GRUPOS DE ELEMENTOS DE UNA SOLA FILA */  
    /* align-content: space-between; /* GRUPOS DE ELEMENTOS DE MAS FILAS - wrap */
    
}

.cajitas{
    background-color: black;
    color: white;
    text-align: center;
    margin: 10px;
    height: 50px;
}